.Card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:  linear-gradient(90deg, #f1f2f2 0%, #c9f1d9 100%);
  opacity: 0.9;
  padding: 1rem;
  margin: 0.5rem;
  width: 100%;
  border-radius: 15px;
  border: 1px solid #f3f8f5;
  box-shadow: 2px 2px 2px 2px #f4f7f5;
  min-width: 20rem;
  max-width: 40rem;
}

.Card:hover {
  opacity: 1;
  /* transform: scale(1.1); */
}

.CardTitle {
  background: #0e4f1f;
  opacity: 0.8;
  padding: 0.5rem 1rem;
  color: #f1f2f2;
  border-radius: 10px;
  border: 1px solid #f3f8f5;
  box-shadow: 2px 2px 2px 2px #f4f7f5;
  font-size: 1.6rem;
}

.CardTitle:hover {
  color: #d8ee89;
}

.CardImg {
  border: 1px solid #d5ffdc;
 
}

.CardImg:hover {
  transform: scale(1.1);
  border-radius: 70%;
}

.CardCalories {
  color: #858585;
  font-weight: bold;
  padding: 0.5rem;
}

.Ingredients {
  width: 90%;
  padding: 0;
}

.Ingredients:hover {
  transform: scale(1.1);
}

.CardIngredient {
  list-style: none;
  padding: 0.2rem 0px;
  color: #0e4f1f;
}

@media (min-width: 40rem) {
  .Card {
    width: 60%;
   
  }
  .CardTitle {
    width: 60%;
    text-align: center;
    font-size: 2rem;
  }
  .CardImg {
    width: 60%;
  }
}
