@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap");

.menu  {
    font-family: "Source Serif Pro";
    text-decoration: none;
    list-style: none;
    color: tomato;
  }