@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap");

.dropdown {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dropheader {
  font-family: "Source Serif Pro";
  color: tomato;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 1rem 0 0 0;
}

.dropcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dropitem {
  text-decoration: none;
  font-family: "Source Serif Pro";
  font-size: 1rem;
  color: #0e4f1f;
  padding: 10px;
}
.dropitem:hover {
  color: tomato;
  text-decoration: underline;
}

.hide {
  display: none;
}

@media (min-width: 64rem) {
  .dropheader {
    padding: 1.8rem 0 0 0;
  }
}
