@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap");

.menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 80px;
  left: 0;
  opacity: 0.95;
  transform: translateX(-130%);
  transition: all 0.2s;
}

.menu.active {
  transform: translateX(0);
}

.blur {
  position: absolute;
  width: 45vw;
  height: 100vh;
  left: 40rem;
  backdrop-filter: blur(2px);
}

.menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  background-color: #c9f1d9;
  color: black;
  opacity: 1;
  height: 100%;
  width: 100%;
  transition: all 0.4s;
}



.menu-header {
  font-family: "Source Serif Pro";
  font-size: 1.5rem;
  font-weight: 600;
  color: #0e4f1f;
  border-bottom: 2px solid #0e4f1f;
  width: 100%;
  padding-top: 2rem;
  text-align: center;
}

.menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-family: "Source Serif Pro";
  text-decoration: none;
  list-style: none;
  margin-top: 1.5rem;
  padding-left: 0;
  color: #0e4f1f;
}

li {
  padding-top: 0.5rem;
  cursor: pointer;
}



.elem-active {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: rgb(184, 184, 33);
  text-decoration: none;
  transition: text-decoration 0.4s;
}
.elem-active:hover {
  text-decoration: underline;
  text-decoration-color: azure;
  transition: text-decoration 0.4s;

}

@media (min-width: 768px) {
  .menu {
    width: 60%;
  }
  li {
    padding-top: 1rem;
  }
  .menu-header {
    font-size: 2rem;
    padding: 2rem 0;
  }

  .menu-list {
    margin-top: 3rem;
  }
  .menu-content {
    padding: 0 2rem;
  }
}
