.HeaderContent {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  background: #2ddf5c;
  padding: 8px 16px;
}
.Lable {
  font-weight: bold;
  font-size: 1.6rem;
  margin: 0;
  color: #0e4f1f;
}

.Lable:hover,
.Lable:active {
  text-shadow: 0px 1px 0 rgb(75, 87, 41), 0px -1px 0 rgb(75, 87, 41),
    1px 0px 0 rgb(75, 87, 41), -1px 0px 0 rgb(75, 87, 41),
    1px 1px 0 rgb(75, 87, 41), 1px -1px 0 rgb(75, 87, 41),
    -1px 1px 0 rgb(75, 87, 41), -1px -1px 0 rgb(75, 87, 41);
  -webkit-text-shadow: 0px 1px 0 rgb(75, 87, 41), 0px -1px 0 rgb(75, 87, 41),
    1px 0px 0 rgb(75, 87, 41), -1px 0px 0 rgb(75, 87, 41),
    1px 1px 0 rgb(75, 87, 41), 1px -1px 0 rgb(75, 87, 41),
    -1px 1px 0 rgb(75, 87, 41), -1px -1px 0 rgb(75, 87, 41);
  -moz-text-shadow: 0px 1px 0 rgb(75, 87, 41), 0px -1px 0 rgb(75, 87, 41),
    1px 0px 0 rgb(75, 87, 41), -1px 0px 0 rgb(75, 87, 41),
    1px 1px 0 rgb(75, 87, 41), 1px -1px 0 rgb(75, 87, 41),
    -1px 1px 0 rgb(75, 87, 41), -1px -1px 0 rgb(75, 87, 41);
  color: rgb(255, 255, 255);
  font-family: Verdana, Geneva, sans-serif;
  color: rgb(240, 191, 76);
}

@media (min-width: 40rem) {
  .Lable {
    font-size: 2.5rem;
  }
}
