@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

.HeaderContent {
  font-size: 1.6rem;
  font-family: inherit;
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 10%;
  background: #0e4f1f;
   opacity: 0.7; 
  padding: 0.5rem 1rem;
  z-index: 100;
}
.Lable {
  font-family: inherit;
  font-weight: bold;
  font-size: 1.6rem;
  margin: 0;
  color: white;
}

.Lable:hover,
.Lable:active {
  text-shadow: 0px 1px 0 rgb(75, 87, 41), 0px -1px 0 rgb(75, 87, 41),
    1px 0px 0 rgb(75, 87, 41), -1px 0px 0 rgb(75, 87, 41),
    1px 1px 0 rgb(75, 87, 41), 1px -1px 0 rgb(75, 87, 41),
    -1px 1px 0 rgb(75, 87, 41), -1px -1px 0 rgb(75, 87, 41);
  -webkit-text-shadow: 0px 1px 0 rgb(75, 87, 41), 0px -1px 0 rgb(75, 87, 41),
    1px 0px 0 rgb(75, 87, 41), -1px 0px 0 rgb(75, 87, 41),
    1px 1px 0 rgb(75, 87, 41), 1px -1px 0 rgb(75, 87, 41),
    -1px 1px 0 rgb(75, 87, 41), -1px -1px 0 rgb(75, 87, 41);
  -moz-text-shadow: 0px 1px 0 rgb(75, 87, 41), 0px -1px 0 rgb(75, 87, 41),
    1px 0px 0 rgb(75, 87, 41), -1px 0px 0 rgb(75, 87, 41),
    1px 1px 0 rgb(75, 87, 41), 1px -1px 0 rgb(75, 87, 41),
    -1px 1px 0 rgb(75, 87, 41), -1px -1px 0 rgb(75, 87, 41);
  color: rgb(255, 255, 255);
  font-family: inherit;
  color: #d8ee89;
}

@media (min-width: 40rem) {
  .Lable {
    font-size: 2.5rem;
  }
}
