@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap");

.HeaderContent {
  font-size: 1.6rem;
  font-family: "Source Serif Pro";
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background: rgba(3, 71, 3, 0.9);
  padding: 0 1rem;
  z-index: 105;
}
.Lable {
  z-index: 105;
  font-weight: bold;
  font-size: 1.6rem;
  padding: 3rem;
  color: #c9f1d9;
  letter-spacing: 0.2rem;
}

.burger-btn {
  position: fixed;
  left: 30px;
  top: 30px;
  width: 30px;
  height: 30px;
  padding: 0;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: none;
  cursor: pointer;
  outline: none;
  z-index: 105;
}

.dash {
  position: relative;
  width: 2rem;
  height: 0.25rem;
  border-radius: 10px;
  background-color: #c9f1d9
}

.Lable:hover,
.Lable:active {
 
  color: #d8ee89;
}

.nav-links {
  display: none;
}

@media (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .nav-links {
    display: flex;
    justify-content: flex-end;
    margin-right: 3rem;
  }

  .nav-links li {
    margin-right: 2rem;
    text-transform: capitalize;
    color: azure;
    letter-spacing: 0.15rem;
    transition: all 0.3s linear;
    padding: 0.5rem 0;
    list-style: none;
  }
  .nav-links li:hover {
    color: tomato;
    box-shadow: 0px 2px tomato;
    transition: all 0.3s linear;
  }
  .Lable {
    font-size: 2rem;
   
  }
}