.ErrorIndicator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(97, 96, 96);
  color: tomato;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
  margin: 0.5rem;
  width: 100%;
}

.Boom {
  font-weight: bold;
  color: rgb(240, 191, 76);
}
