@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap");

.find {
  width: 25rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #f1f2f2;
  text-align: center;
}

.form {
  display: flex;
  margin: 1.2rem 0;
  width: 85vw;
  align-items: center;
  min-width: 20rem;
 
}

.form:hover {
  transform: scale(1.1);
}

.section-search {
  width: 70%;
  height: 25px;
  background: #f1f2f2;
  opacity: 0.7;
  border-radius: 8px;
  padding: 0.5rem;
  margin: 0.5rem;
  font-family: "Source Serif Pro";
  border-style: none;
  font-size: 1.5rem;
  font-weight: 500;
}

.section-search:focus {
  outline: none;
}

.button {
  font-family: "Source Serif Pro";
  width: 30%;
  background: #0e4f1f;
  color: white;
  border: 1.5px solid #0e4f1f;
  opacity: 0.7;
  border-radius: 8px;
  padding: 0.5rem;
  margin: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  border-style: none;
}

.button:hover,
.button:active {
  border-radius: 70%;
  box-shadow: 4px 4px 9px white;
  color: tomato;
}
.button:focus {
  outline: none;
}

.error {
  height: auto;
  width: 90vw;
  padding: 1rem;
  background: #d5ffdc;
  border: 2px solid tomato;
  text-align: center;
  font-size: 2rem;
  color: tomato;
}

@media (min-width: 64rem) {
.find {
  width: 40rem;
  max-width: 64rem;
  font-size: 3rem;
}
  .form {
  width: 43rem;
  height: 10rem;
  }
  .section-search {
    height: 2.5rem;
  }
  .button {
    height: 3rem;
    font-size: 1.8rem;
  }
  .error {
    width: 43rem;
    font-size: 3rem;
  }
}
