@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap");

.find {
  margin-top: 72px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.3rem;
  font-size: 3rem;
  text-align: center;
  font-weight: 500;
  color: #f1f2f2;
  background-color: rgba(184, 184, 33, 0.8);
  letter-spacing: 0.2rem;
}

.form {
  display: flex;
  margin: 1.2rem 0;
  width: 100%;
  align-items: center;
  min-width: 20rem;
  max-width: 35rem;
  transition: all 0.3s linear;
}



.section-search {
  width: 70%;
  height: 25px;
  background: #f1f2f2;
  opacity: 0.90;
  border-radius: 8px;
  padding: 0.5rem;
  margin: 0.5rem;
  border-style: none;
  font-size: 1.5rem;
  
  font-weight: 500;
  transition: all 0.3s linear;
}

.section-search:focus {
  outline: none;
  transition: all 0.3s linear;
}

.button {
  font-family: inherit;
  width: 30%;
  background: #0e4f1f;
  color: white;
  border: 1.5px solid #0e4f1f;
  opacity: 0.85;
  border-radius: 8px;
  padding: 0.5rem;
  margin: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  border-style: none;
  transition: all 0.3s linear;
  letter-spacing: 0.2rem;
}

.button:hover,
.button:active {
  border-radius: 70%;
  color: tomato;
  transition: all 0.3s linear;
}
.button:focus {
  outline: none;
  transition: all 0.3s linear;
}

.error {
  height: auto;
  width: auto;
  padding: 1rem;
  background: #d5ffdc;
  border: 2px solid tomato;
  text-align: center;
  font-size: 3rem;
  color: tomato;
}

@media (min-width: 768px) {

  .find {
    width: 20rem;
   
  }
  .form {
    width: 60%;
    transition: all 0.3s linear;
  }
  .form:hover {
    transform: scale(1.1);
    transition: all 0.3s linear;
  }
}