@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap");


.page-footer {
  text-align: center;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #222;
  color: #fff;
}
.page-footer h5 {
  margin-bottom: 0;
}
.page-footer p {
  margin-bottom: 0;
}
.page-footer span,
.page-footer a {
  color:  tomato;
}